/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 5 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 5 version
*/

.hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body {
	width: 100%;
}

ul {
	list-style: none;
}

.walls,
.windows,
.doors,
.ugols-vnesh,
.ugols-inner,
.tf,
.tf-window,
.tf-door,
.tf-frontsves,
.tf-karnizsves,
.lf,
.lf-window,
.lf-door,
.lf-frontsves,
.lf-karnizsves,
.notfront-karnizsves {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

.walls-form,
.windows-form,
.doors-form,
.ugol-vnesh-form,
.ugol-inner-form,
.tf-form,
.tf-window-form,
.tf-door-form,
.tf-frontsves-form,
.tf-karnizsves-form,
.lf-form,
.lf-window-form,
.lf-door-form,
.lf-frontsves-form,
.lf-karnizsves-form,
.notfront-karnizsves-form {
	width: 240px;
	background-color: #f2f2f240;
	border: 0.5px solid #00000005;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0 6px 1px rgba(0, 0, 0, 0);
	        box-shadow: 0px 0 6px 1px rgba(0, 0, 0, 0);
	margin: 2px;
}

.walls-list,
.windows-list,
.doors-list,
.ugols-vnesh-list,
.ugols-inner-list,
.tf-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

form {
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}

h1 {
	margin: 0 0 30px 0;
	text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 7px;
	width: 85%;
	background-color: #e8eeefb0;
	color: #8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 5px;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="time"]:hover,
input[type="url"]:hover {
	background: rgb(224, 236, 236);
}

input[type="text"]:active,
input[type="password"]:active,
input[type="date"]:active,
input[type="datetime"]:active,
input[type="email"]:active,
input[type="number"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="time"]:active,
input[type="url"]:active {
	background: rgb(229, 240, 240);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
	outline: rgb(84, 165, 46);
}


/* Убираются стрелочки у input[type=number] */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.wf_wall-wrp,
.window_wall-wrp,
.door_wall-wrp,
.ugol-vnesh_wall-wrp,
.ugol-inner_wall-wrp,
.tf-quantity-wrp,
.tf-window-groups-wrp,
.tf-window-num-wrp,
.tf-door-number-wrp,
.tf-frontsves-number-wrp,
.tf-karnizsves-number-wrp,
.lf-window-num-wrp,
.lf-door-number-wrp,
.lf-frontsves-number-wrp,
.lf-karnizsves-number-wrp,
.notfront-karnizsves-number-wrp {
	margin-top: 17px;
}

.tf-width-wrp {
	margin-top: 17px;
}

.wf_result-formula,
.window_result-formula,
.door_result-formula,
.tf-result-formula,
.tf-area-wrp,
.tf-window-result-formula,
.tf-door-result-formula,
.tf-frontsves-result-formula,
.tf-karnizsves-result-formula,
.lf-area-wrp,
.lf-window-result-formula,
.lf-door-result-formula,
.lf-frontsves-result-formula,
.lf-karnizsves-result-formula,
.notfront-karnizsves-result-formula {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
}

input.wf_result-wall,
input.window_result-window,
input.door_result-door {
	width: 100px;
	margin: 0 10px 0 10px;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 4px 8px 0;
}

select {
	padding: 6px;
	height: 32px;
	border-radius: 2px;
}

button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #4bc970;
	font-size: 15px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #3ac162;
	border-width: 1px 1px 3px;
	-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	margin-bottom: 10px;
}

.add-form-btn {
	width: 250px;
	text-align: center;
	background-color: #4bc970;
	fill: white;
	color: white;
	padding: 8px 8px;
	margin: 14px 0 8px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	border: 0.5px solid #31c15c;
	outline: none;
	border-radius: 4px;
	border-width: 1px 1px 3px;
	-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	cursor: pointer;
}

.show-form-btn {
	width: 250px;
	text-align: left;
	background-color: #d8d9db;
	fill: white;
	color: white;
	padding: 8px 8px;
	margin: 14px 0 8px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	border: 0.5px solid #c0c0c0;
	outline: none;
	border-radius: 4px;
	border-width: 1px 1px 3px;
	-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	cursor: pointer;
}

.add-form-btn:hover {
	background-color: #31c15c;
	fill: rgb(250, 253, 54);
	cursor: pointer;
}

.add-form-btn:active {
	background-color: #4bc970;
	fill: rgb(250, 253, 54);
	cursor: pointer;
}

.show-form-btn:hover {
background-color: #cccccc;
fill: rgb(255, 255, 255);
}

.show-form-btn:active {
    background-color: #09d5db;
	fill: rgb(254, 254, 254);
	border: 0.5px solid #1ec6cc;
	outline: none;
	border-radius: 4px;
	border-width: 1px 1px 3px;
	-webkit-box-shadow: 0 -1px 0 #1dd2d9 inset;
	        box-shadow: 0 -1px 0 #1dd2d9 inset;
}


.remove-form-btn {
	width: 20px;
	height: 20px;
	border: none;
	margin: -26px 0 0 234px;
	cursor: pointer;
	background: none;
	display: block;
	border: none;
	cursor: pointer;
	background: none;
}

.tf-remove-form,
.lf-remove-form {
	margin: 0 0 0 234px;
}

.remove-form-btn:hover {
	fill: red;
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
}

.remove-form-btn:active {
	fill: rgb(252, 56, 56);
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
}

.remove-form-btn:focus {
	fill: rgb(252, 56, 56);
	outline: #3ac162;
	border: none;
	cursor: pointer;
	background: #3ac162;
}

fieldset {
	margin-bottom: 30px;
	border: none;
}

legend {
	font-size: 16px;
	margin-bottom: 10px;
}

.number {
	background-color: #5fcf80;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	border-radius: 100%;
}

.wall-form-span,
.window-form-span,
.door-form-span,
.ugol-vnesh-span,
.ugol-inner-span,
.tf-form-span,
.tf-window-form-span,
.tf-door-form-span,
.tf-frontsves-form-span,
.tf-karnizsves-form-span,
.lf-window-form-span,
.lf-door-form-span,
.lf-frontsves-form-span,
.lf-karnizsves-form-span,
.notfront-karnizsves-form-span {
	font-size: 19px;
	font-weight: 600;
	color: #000;
}

.all-results-wrp {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

.checkboxs-lable-title {
	font-weight: 600;
}
label {
	display: block;
	margin-bottom: 8px;
}

label.light {
	font-weight: 300;
	display: inline;
}

label > input {
	display: none;
  }

.custom-lable{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

  label i {
	padding: 2px;
	margin-right: 7px;
	width: 40px;
	height: 20px;
	border-radius: 13px;
	vertical-align: middle;
	transition: 0.15s 0.09s;
	position: relative;
	background: #d8d9db;
	box-sizing: initial;
  }
  label i:after {
	content: " ";
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: 2px;
	top: 1.5px;
	transition: 0.15s;
  }
  label > input:checked + i {
	background: #4bd865;
  }
  label > input:checked + i:after {
	transform: translateX(20px);
  }
  label:hover {
	cursor: pointer;
  }